<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

body{
background: url("/a.jpg") no-repeat;
}

#start{
	position: absolute;left: 311px;top: 293px;
}
</style>

<script type="text/javascript">
	sessionStorage.
	function playPause(){
		for ( var int = 0; int < 5; int++) {
			
		}
		
	}
	

</script>
</head>
<body>
	<audio id=audo>
		<source src="medias/Wah Game Loop.ogg"></source>
		<source src="medias/Wah Game Loop.mp3"></source>
	</audio>
	<button id="start" onclick="playPause();">播放</button> 
</body>
</html>